/*setup*/
*{
    margin: 0;
    padding: 0;
}

/*neeeeoooon*/

h1:nth-child(1) a{
    color:#FF1177;
    font-family:Monoton;
}
h1:nth-child(1) a:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
h1 a:hover{
    color:#ffffff;
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF1177,
        0 0 70px  #FF1177,
        0 0 80px  #FF1177,
        0 0 100px #FF1177,
        0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF1177,
        0 0 35px #FF1177,
        0 0 40px #FF1177,
        0 0 50px #FF1177,
        0 0 75px #FF1177;
    }
}